body {
	margin: 0;
	width: 100%;
	font-family: SourceSansPro-Regular;
}

header {
	height: 33px;
	text-align: center;
}

.sidebar {
	position: absolute;
	width: 200px;
	padding: 10px;
	height: calc(100% - 115px);
	background-color: #f5f9eb;
	margin: 5px;
}

table {
	width: 100%;
}

footer {
	line-height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 50px;
	color: #464547;
	background-color: #39C2D7;
}

.header-locale {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 35px;
	color: #464547;
	background-color: #A3C644;
	width: 90px;
	height: 33px;
}

.header-title {
	font-family: "Times New Roman", Georgia, Times, serif;
	font-size: 25px;
	color: #464547;
	background-color: #39C2D7;
	width: calc(100% - 90px);
	height: 33px;
	font-family: SourceSansPro-Regular;
}

.header-message {
	width: calc(100% - 400px);
	height: 33px;
	line-height: 33px;
}

.header-message a {
	color: #464547;
}

.header-message a:LINK {
	text-decoration: none;
}

.header-message a:HOVER {
	text-decoration: underline;
}

.header-logout {
	width: 400px;
	height: 33px;
	background-color: #39C2D7;
	line-height: 33px;
	font-size: 15px;
	position: absolute;
	right: 90;
	top: 0;
	display: inline-block;
}

.header-locale a {
	color: #464547;
	width: 90px;
}

.header-error-msg {
	position: absolute;
	left: 0;
	top: 33px;
	background-color: red;
	color: white;
	width: calc(100%);
}

.content {
	padding: 10px;
	line-height: 25px;
	position: absolute;
	right: 0;
	height: calc(100% - 100px);
	width: calc(100% - 240px);
	overflow-y: scroll;
}

.sidebar-item {
	color: #464547;
	padding-left: 10px;
	margin-bottom: 5px;
}

.sidebar-item a {
	color: #464547;
}

.common-table table {
	border-collapse: separate;
	width: 100%;
}

.common-table th, td {
	text-align: left;
	padding: 8px;
	font-family: Arial;
	color: #003366;
	font-size: 12px;
}

.common-table tbody tr:nth-child(even) td {
	background-color: #D8D8D8;
}

.common-table tbody tr:nth-child(odd) td {
	background-color: #F8F8F8;
}

.common-table thead th {
	background-color: #505050;
	color: white;
}

.common-table tbody tr.highlight td {
	background-color: #baff75;
}

.hidden-div, .hidden-error-message {
	display: none;
}

.visible-div {
	display: block;
}

.visible-error-message {
	display: inline-block;
}

.error-input {
	border: 1px solid red;
}

.error-message {
	color: #B22746;
}

.required-field:AFTER { 
   content:" *";
   color:red;
}

.login-register {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.login-panel {
	display: inline-block;
	width: calc((100% - 10px)/2);
	height: calc(100%);
}

.register-panel {
	display: inline-block;
	width: calc((100% - 10px)/2);
	height: calc(100%);
}

.client-event-item {
	display: inline-block;
	background-color: #FFFFFF;
	width: 100%;
	border-color: #CCCCCC;
    border-style: solid; 
    margin-bottom: 5px;
}

.client-event-item:HOVER {
	background-color: #eaf8fb;
}

.client-ticket-item {
	display: inline-block;
	background-color: #FFFFFF;
	width: 100%;
	border-color: #CCCCCC;
    border-style: solid; 
    margin-bottom: 5px;
}

.client-ticket-item:HOVER {
	background-color: #eaf8fb;
}

.highlight {
	/* background-color: #A3C644; */
	border-color: #A3C644;
}

.visible {
	display: inline-block;
}

.invisible {
	display: none;
}

.button-regular input {
	-moz-box-shadow:inset 0px 1px 0px 0px #c5db8a;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c5db8a;
	box-shadow:inset 0px 1px 0px 0px #c5db8a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b2cf63), color-stop(1, #a3c644));
	background:-moz-linear-gradient(top, #b2cf63 5%, #a3c644 100%);
	background:-webkit-linear-gradient(top, #b2cf63 5%, #a3c644 100%);
	background:-o-linear-gradient(top, #b2cf63 5%, #a3c644 100%);
	background:-ms-linear-gradient(top, #b2cf63 5%, #a3c644 100%);
	background:linear-gradient(to bottom, #b2cf63 5%, #a3c644 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2cf63', endColorstr='#a3c644',GradientType=0);
	background-color:#b2cf63;
	border:1px solid #8fb036;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: SourceSansPro-Regular;
	font-size:14px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	min-width: 130px;
}
.button-regular input:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a3c644), color-stop(1, #b2cf63));
	background:-moz-linear-gradient(top, #a3c644 5%, #b2cf63 100%);
	background:-webkit-linear-gradient(top, #a3c644 5%, #b2cf63 100%);
	background:-o-linear-gradient(top, #a3c644 5%, #b2cf63 100%);
	background:-ms-linear-gradient(top, #a3c644 5%, #b2cf63 100%);
	background:linear-gradient(to bottom, #a3c644 5%, #b2cf63 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3c644', endColorstr='#b2cf63',GradientType=0);
	background-color:#a3c644;
}
.button-regular input:active {
	position:relative;
	top:1px;
}

.button-logout input {
	-moz-box-shadow:inset 0px 1px 0px 0px #c5db8a;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c5db8a;
	box-shadow:inset 0px 1px 0px 0px #c5db8a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b2cf63), color-stop(1, #a3c644));
	background:-moz-linear-gradient(top, #b2cf63 5%, #a3c644 100%);
	background:-webkit-linear-gradient(top, #b2cf63 5%, #a3c644 100%);
	background:-o-linear-gradient(top, #b2cf63 5%, #a3c644 100%);
	background:-ms-linear-gradient(top, #b2cf63 5%, #a3c644 100%);
	background:linear-gradient(to bottom, #b2cf63 5%, #a3c644 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2cf63', endColorstr='#a3c644',GradientType=0);
	background-color:#b2cf63;
	border:1px solid #8fb036;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: SourceSansPro-Regular;
	font-size:14px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	min-width: 130px;
	height: 30px;
}
.button-logout input:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a3c644), color-stop(1, #b2cf63));
	background:-moz-linear-gradient(top, #a3c644 5%, #b2cf63 100%);
	background:-webkit-linear-gradient(top, #a3c644 5%, #b2cf63 100%);
	background:-o-linear-gradient(top, #a3c644 5%, #b2cf63 100%);
	background:-ms-linear-gradient(top, #a3c644 5%, #b2cf63 100%);
	background:linear-gradient(to bottom, #a3c644 5%, #b2cf63 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3c644', endColorstr='#b2cf63',GradientType=0);
	background-color:#a3c644;
}
.button-logout input:active {
	position:relative;
	top:1px;
}

@font-face {
    font-family: 'Oswald-Regular';
    src: url('../font/Oswald-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../font/SourceSansPro-Regular.otf'); /*URL to font*/
}

.pay-tickets-success {
	background-color: #A3C644;
	color: white;
	text-align: center;
}