body {
	margin: 0;
	width: 100%;
}

header {
	height: 33px;
	text-align: center;
}

.sidebar {
	position: absolute;
	width: 200px;
	padding: 10px;
	height: calc(100% - 100px);
	background: linear-gradient(to top, white, gray);
}

table {
	width: 100%;
}

footer {
	line-height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 50px;
	color: white;
	background-color: teal;
}

.header-locale {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 35px;
	color: white;
	background-color: olive;
	width: 90px;
	height: 33px;
}

.header-title {
	font-family: "Times New Roman", Georgia, Times, serif;
	font-size: 25px;
	color: white;
	background-color: teal;
	width: calc(100% - 90px);
	height: 33px;
}

.header-message {
	width: calc(100% - 400px);
	height: 33px;
	line-height: 33px;
}

.header-message a {
	color: white;
}

.header-message a:LINK {
	text-decoration: none;
}

.header-message a:HOVER {
	text-decoration: underline;
}

.header-logout {
	width: 400px;
	height: 33px;
	background-color: #aed821;
	line-height: 33px;
	font-size: 15px;
	position: absolute;
	right: 90;
	top: 0;
	display: inline-block;
}

.header-locale a {
	color: white;
	width: 90px;
}

.content {
	padding: 10px;
	line-height: 25px;
	position: absolute;
	right: 0;
	height: calc(100% - 100px);
	width: calc(100% - 240px);
	overflow-y: scroll;
}

.sidebar-item {
	color: white;
	padding-left: 10px;
	margin-bottom: 5px;
}

.sidebar-item a {
	color: white;
}

.common-table table {
	border-collapse: separate;
	width: 100%;
}

.common-table th, td {
	text-align: left;
	padding: 8px;
	font-family: Arial;
	color: #003366;
	font-size: 12px;
}

.common-table tbody tr:nth-child(even) td {
	background-color: #D8D8D8;
}

.common-table tbody tr:nth-child(odd) td {
	background-color: #F8F8F8;
}

.common-table thead th {
	background-color: #505050;
	color: white;
}

.common-table tbody tr.highlight td {
	background-color: #baff75;
}

.hidden-div, .hidden-error-message {
	display: none;
}

.visible-div {
	display: block;
}

.visible-error-message {
	display: inline-block;
}

.error-input {
	border: 1px solid red;
}

.error-message {
	color: red;
}

.required-field:AFTER { 
   content:" *";
   color:red;
}